.header-container {
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--header-color);
  z-index: 5;
  transition: all 0.4s;
  path {
    fill: var(--text-color);
  }
  &--hidden {
    @extend .header-container;
    position: sticky;
    top: 0;
    transform: translateY(-65px);
  }
}

.header {
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  min-height: 65px;
  &__logo {
    display: flex;
    flex: 1;
    svg {
      cursor: pointer;
    }
  }

  &__navbar-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  &__navbar {
    &__options {
      display: none;
    }
    &__footer {
      display: none;
    }
    &__blur {
      display: none;
    }
    &__item {
      margin: 0 20px;
      font-size: 16px;
      border-bottom: 2px solid transparent;
      padding: 16px 12px 18px;
      transition: all 0.33s;
      cursor: pointer;
      text-decoration: none;
      color: var(--text-color);
      &__mob {
        display: none;
      }
      &:hover {
        border-bottom: 2px solid var(--text-color);
        transition: all 0.33s;
      }
    }
  }

  &__search {
    border-radius: 18px;
    height: 40px;
    border: none;
    background: #f5f5f5;
    color: black;
    width: 90%;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 16px;

    &:hover {
      background: #e0e0e0;
    }
    &:focus {
      background: #e0e0e0;
      outline: none;
    }
  }

  &__search-group {
    position: relative;
    width: 15%;
    path {
      fill: black;
    }
    &__active {
      position: absolute;
    }
  }

  &__icon {
    display: none;
  }

  &__loup {
    height: 14px;
    position: absolute;
    left: 5px;
    top: 12px;
    margin-left: 3px;
  }

  &__btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    margin: 0 15px;
    position: relative;
    &__icon {
      cursor: pointer;
    }
    &:hover {
      border-radius: 50%;
      background: var(--header-icon_hover-background);
    }
  }
  &__loup-mb {
    display: none;
  }
  &__btn-count {
    position: absolute;
    top: -7px;
    left: 22px;
  }

  &__language-switcher {
    &__item {
      color: #aaaaaa;
      font-size: 16px;
    }
  }
}
.wishlist-drop {
  position: absolute;
  top: 50px;
  right: -110px;
  z-index: 1000;
}

.userlog-drop {
  position: absolute;
  top: 60px;
  right: -130px;
}
.theme-switcher {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  background: var(--text-color);
  border: 2px solid var(--list-background);
  &__mob {
    display: none;
  }
}
.language-switcher {
  &__item {
    font-size: 16px;
  }
}

@mixin navbarCont($x) {
  position: fixed;
  top: 62px;
  right: 0;
  height: calc(100% - 62px);
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.75s;
  transform: translatex($x);
}

@media screen and (max-width: 1080px) {
  .header {
    &__search {
      width: 100px;
    }
    &__navbar {
      &__item {
        margin: 0 9px;
      }
    }
    &__btn-action {
      margin: 0 10px;
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    border-bottom: 2px solid gray;
  }
  .header {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    z-index: 100;

    &__search {
      width: 100px;
    }

    &__loup-mb {
      display: flex;
      svg {
        height: 18px;
      }
    }

    &__btn-action {
      margin: 0 8px;
      &:hover {
        background: none;
      }
    }
    &__search-group {
      display: none;
    }

    &__navbar-container {
      @include navbarCont(100%);
      &__active {
        @include navbarCont(0);
      }
    }

    &__navbar {
      width: 100%;
      height: 100%;
      background: var(--list-background);
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: scroll;

      &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__enter-btn {
          background: var(--text-color);
          color: var(--list-background);
          font-size: 18px;
          width: 65%;
          padding: 15px;
          border-radius: 12px;
        }
      }

      &__options {
        margin: 20px auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__item-list {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__item {
        font-size: 18px;
        border-bottom: 1px solid grey;
        width: 81%;
        &:hover {
          border-bottom: 1px solid grey;
        }
        &__mob {
          width: 81%;
          margin: 0 9px;
          padding: 16px 12px 18px;
          transition: all 0.33s;
          cursor: pointer;
          text-decoration: none;
          color: var(--text-color);
          font-size: 18px;
          display: block;
          border-bottom: 1px solid grey;
        }
        &:hover {
          border-bottom: 1px solid grey;
        }
      }

      &__blur {
        z-index: 15;

        display: block;
        position: fixed;
        top: 62px;
        left: 0;
        width: 35%;
        backdrop-filter: blur(2px);
        transition: all 1s;
        height: calc(100% - 62px);
      }
    }

    &__icon {
      display: block;
      position: relative;
      cursor: pointer;
      width: 26px;
      height: 18px;
      z-index: 500;
      margin-left: 10px;

      & span {
        position: absolute;
        background-color: var(--text-color);
        left: 0;
        width: 100%;
        height: 3px;
        top: 8px;
        border-radius: 12px;
        transition: all 0.5s ease-in-out;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: var(--text-color);
        height: 3px;
        border-radius: 12px;
        left: 0;
        z-index: 15;
        transition: all 0.5s ease-out;
      }

      &:after {
        bottom: 0;
      }

      &:before {
        top: 0;
      }

      &__active {
        z-index: 15;
        display: block;
        position: relative;
        cursor: pointer;
        width: 26px;
        height: 18px;
        transition: all 1s ease-out;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          background-color: #504b4b;
          height: 3px;
          left: 0;
          top: 9px;
          transform: rotate(225deg);
          transition: all 0.5s ease-out;
          border-radius: 8px;
        }

        &:after {
          bottom: 9px;
          content: "";
          position: absolute;
          width: 100%;
          background-color: #504b4b;
          height: 3px;
          left: 0;
          transform: rotate(-225deg);
          transition: all 0.5s ease-out;
          border-radius: 8px;
        }
      }
    }
  }
  .acc {
    display: none;
  }
  .wish {
    display: none;
  }
  .theme-switcher {
    display: none;
    &__mob {
      height: 30px;
      width: 30px;
      border-radius: 12px;
      background: var(--text-color);
      display: block;
    }
  }
  .language-switcher {
    display: none;
    &__mob {
      display: block;
    }
    &__item {
      font-size: 16px;
    }
  }
}
