.sort-container {
  border-radius: 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
}
.sort {
  &__active {
    border-bottom: 2px solid var(--text-color);
  }
  &__popup {
    background: var(--list-background);
    color: var(--text-color);
    padding: 15px 25px;
    border-radius: 16px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 5;
    border: 3px solid var(--text-color);
  }
  &__options {
    list-style: none;
    &__item {
      margin: 20px 0;
      font-size: 18px;
    }
  }
}
